<p class="text-sm text-silver2 uppercase flex items-center">MIN:&nbsp;<span class="facets__priceMin">{{ filter.min_value.value | money }}</span></p>
<p class="text-sm text-silver2 uppercase flex items-center mt-2">MAX:&nbsp;<span class="facets__priceMax">{{ filter.max_value.value | money }}</span></p>